{% extends 'base.html' %} {% block title %} Contact Me {% endblock title %}
{%block body %}

<div class="container-fluid mx-0 px-0 mb-3">
  <img
    src="static\img\contact-2.jpg"
    class="d-block w-100 mx-0 px-0"
    alt="..."
    width="100%"
  />
</div>

<div class="container mb-3 py-4 col-5">
  <h1 class="text-center">Contact Me</h1>
  <form method="POST" action="/contact">
    {% csrf_token %}
    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name ="name"
        placeholder="Enter your name"
      />
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter your email"
      />
    </div>
    <div class="form-group">
      <label for="phone" class="form-label">Phone</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        placeholder="Enter your phone number"
      />
    </div>
    <div class="form-group">
      <label for="desc" class="form-label"
        >Tell me about what do you want to contact me for ..</label
      >
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    <button class="btn btn-primary my-3" type="submit">Submit</button>
  </form>
</div>

{% endblock body %}
